/* css/cart.css */

#cartItems {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}

#cartItems p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
