.cart-container {
  padding: 100px 8%;
}

.cart-container h1 {
  font-size: 42px;
  margin-bottom: 60px;
}

.cart-item {
  border-bottom: 1px solid var(--border-soft);
  padding: 25px 0;
}

.total-box {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid var(--border-soft);
}

.pay-button {
  border: 1px solid var(--accent);
  background: transparent;
  color: var(--accent);
  padding: 10px 25px;
  transition: 0.3s ease;
}

.pay-button:hover {
  background: var(--accent);
  color: white;
}
